*{
   box-sizing: border-box;
 }

body{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
 }

p{
  font-family: tahoma, 맑은고딕;
 }

h1{
  font-family: tahoma, 맑은고딕;
  font-size: 20px;
  text-align: center;
  font-weight: normal;
 }

h3{
  font-family: tahoma, 맑은고딕;
  font-size: 16px;
  text-align: center;
  font-weight: normal;
 }

#header {
  height: 45px;
  background-color: rgba(57,57,57,100%);
  border-bottom-color: rgba(207,167,27,80%);
  border-bottom-style: solid;
  color: rgba(207,167,27,80%);
  font-size: 18px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 40%;
  overflow: hidden;
  }

#nav {
  width: 150px;
  height: 1070px;
  background-color: rgba(207,167,27,100%);
  padding-top: 70px;
  float: left;
  left: -142px;
  position: fixed;
  z-index: 1;
}

#nav:hover{
  left: 0;
  transition: 1s;

}

#nav::after{
  clear: both;
  content: ""
}

#nav-li{
  color: rgba(57,57,57,60%);
  line-height: 300%;
  padding-left: 20px;
  font-size: 21px;
  list-style-type: none;
  text-decoration: none;
}

#nav-li li{
  transition: 0.5s
}

#nav-li li:hover{
  color: rgb(234,234,234);
}

a{
  list-style: inherit;
  color: inherit;
  text-decoration: inherit;
}

#nav-handle{
 height: 110px;
 width: 18px;
 background-color: rgba(207,167,27,100%);
 font-size: 15px;
 text-align: center;
 line-height: 8px;
 float: left;
 top: -340px;
 left: 150px;
 position: relative;
}

hr.handle{
 border-color: rgba(57,57,57,60%);
}

#section{
  height: auto;
  background-color: rgba(57,57,57,100%);
  color: rgba(207,167,27,80%);
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  padding-top: 30px;
}

.img-box{
  display: inline-block;
  position: relative;
}

.link-box{
  position:absolute;
  font-size: 18px;
}

.link-box:hover{
  background-color: rgba(207,167,27,15%);
}

#content{
  height: 450px;
  background-color: rgba(57,57,57,100%);
  color: rgb(170,170,170);
  padding: 20px 5%;
  font-size: 16px;
  line-height: 200%;
  text-align: justify;
}

#content a:hover{
    background-color: rgba(234,234,234,15%);
}

#footer{
  height: auto;
  background-color: rgba(57,57,57,60%);
  border-top-style: solid;
  border-top-color: rgba(57,57,57,60%);
  color: rgba(57,57,57,100%);
  font-size: 15px;
  text-align: center;
  line-height: 80%;
  padding: 3px;
}

.btn{
  text-align: center;
  margin-top: 30px;
}

.btn button {
  height: 35px;
  width: 120px;
  background-color: rgba(207,167,27,100%);
  border: none;
  border-radius: 3;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

.btn span {
  color: rgba(57,57,57,60%);
  font-size: 18px;
}

button #back-btn::before{
  content: '\2039';
  opacity: 0%;
  transition: 0.4s;
}

button #back-btn:hover{
  color:rgb(234,234,234);
  transition: 0.4s;
}

button #back-btn:hover::before {
  color:rgb(234,234,234);
  opacity: 100%;
  padding-right: 11px;
}

button #forward-btn::after{
  content: '\203A';
  opacity: 0%;
  transition: 0.4s;
}

button #forward-btn:hover{
  color:rgb(234,234,234);
  transition: 0.4s;
}

button #forward-btn:hover::after {
  color:rgb(234,234,234);
  opacity: 100%;
  padding-left: 11px;
}
